.main {
}

.page {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 3px gray;

    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: center;
    cursor: pointer;
}

.page:hover {
    transition: 0.1s;
    box-shadow: 0 0 5px black;

}

.createPageButton {
    padding: 5px;
    cursor: pointer;
    color: white;
    background-color: #006494;
    border-radius: 5px;
    max-width: 150px;
    display: inline-block;
    margin: 15px 0;
}